.aside__wrap{
    padding-top: 78px;
    
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr); 
}
.aside__block{
    margin-right: 10px;
    min-height: 233px;
    margin-left: 106px;
}
.aside__title{
    font-size: 28px;
    line-height: 33px;
    letter-spacing: -0.03em;
    color: #22356F;
    
    
    
}
.aside__text{
    font-size: 16px;
    line-height: 25px;
    letter-spacing: -0.03em;
    color: rgba(34, 53, 111, 0.5);
    padding-top: 26px;
    max-width: 280px;
    line-height: 30px;

}
@media (max-width: 1300px) {
    .aside__wrap{
        padding-top: 78px;  
        
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr); 
    }
}
@media (max-width: 876px) {
    .aside__wrap{
        padding-top: 78px;  
        
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(6, 1fr); 
    }
    .aside__block{
        
        margin-right: 10px;
        min-height: 233px;
        margin-left: 10px;
    }
}