@font-face {
        // название шрифта(чтобы не запутаться лучше указать название папки со шрифтом) 
        font-family: "Larsseit"; 
        // адрес шрифта и тип 
        src: url("../fonts/Larsseit.ttf") format("truetype"); 
        font-style: normal; 
        font-weight: normal; 
        } 